/* CONFIGURAÇÃO GLOBAL */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  }
  
  body {
      width: 100%;
      background-color: #fff;
  }
  
  /* ESSE VAI SER O CONTAINER COM A LARGURA FORMATADA QUE EXIBE O CONTEÚDO DA APLICAÇÃO */
  .conteudo-aplicacao {
    max-width: 80%;
    margin: 0 auto;
  }


  /* CONFIGURAÇÃO DAS PÁGINAS */

  .button-primary {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    background-color: #C92071;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 150px;
  }
  .button-primary:hover {
    background-color: #991956;
  }

  nav div a {
    text-decoration: none;
  }

  nav div a:hover {
    text-decoration: underline;
    text-decoration-color: #C92071;
  }

  .img-logo-mobile{
    width: 1.1rem;
  }

  .img-logo-texto {
    width: 7rem;
  }

  .cor-primary-text {
    color: #474747;
    font-weight: 700;
  }


/* Componente SearchInput */

.backgroundInput {
    background-color: #f0f0f0
}

input.form-control:focus {
    
    border-color: #ced4da !important;
    box-shadow: none;
}

#btn-input-search{
    background-color: #f0f0f0;
    width: 3rem;
}

/* Componente MainHome */

.section-principal-mainHome{
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 0;
    padding-right: 0;
}

.section-background-home {
    width: 100%;
    background-color: #f3f6fb;
    
}
h1 {
    font-size: 3.2rem;
    color: #343a40;
    font-weight: 800;
    margin-top: 1rem;
}

.h2-main {
    font-size: 2rem;
    color: #343a40;
    font-weight: 800;
    line-height: 1.5rem;
    white-space: normal;
    overflow-wrap: break-word;
}

section div h5 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.span-section-principal {
    color: #f6aa1c;
}

.span-section-principal2 {
    color: #C92071;
}

.img-tenis {
    transform: rotate(-5deg);

}

.ornamento {
    position: absolute;
    top: 25%;
    left: 110%;
    max-width: 30%;
    transform: translate(-50%, -50%);

}

.divs-destaque-home {
    background-color: #D8E3f2;
}

.divs-destaque-home img {
    height: 243px;
}

.button-secondary {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    background-color: white;
    color: #C92071;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 120px;
  }
  .button-secondary:hover {
    background-color: #b5b6f2;
    color: #f7f7fc
  }

  .button-span-home {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em;
    font-size: 0.6em;
    font-weight: 700;
    font-family: inherit;
    background-color: #e7ff86;
    color: #474747;
    transition: border-color 0.25s;
    width: 80px;
  }

  
  .button-span-home2 {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em;
    font-size: 0.6em;
    font-weight: 700;
    font-family: inherit;
    background-color: #e7ff86;
    color: #474747;
    transition: border-color 0.25s;
    width: 80px;
  }

  .img-roupas {
    width: 100%;
    max-width: 50%;
  }

  @media (max-width: 768px) {
    .img-roupas {
      max-width: 100%;
    }
  }

  .p1-produtos-alta {
    font-size: 0.5rem;
    font-weight: 400;
    opacity: 0.8;

  }

  .p2-produtos-alta {
    font-size: 1.2rem;
    opacity: 0.8;
    line-height: 2rem;
  }

  .p2-produtos-alta-m {
    font-size: 0.7rem;
    opacity: 0.8;
    line-height: 1rem;
  }

  .p-produtos-alta-claro{
    font-weight: 100;
    opacity: 0.6;
    text-decoration: line-through;
    letter-spacing: 0.1rem;

  }

  #p-ofertaEspecial {
    color: #C92071;
  }


#fundo-degrade {
  width: 500px;
  height: 300px;
  border-radius: 70%;
  background: linear-gradient(to bottom, #e8e9fb, #EFEFFF);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: 568px) {
  #fundo-degrade {
    width: 300px;
    height: 260px;
    border-radius: 70%;
  }
}



/* Componente footer */

footer {
    width: 100%;
    background-color: #212529;
    color: white;
    padding-top: 2em;
  }
  
.logo-footer {
    max-width: 250px;
    flex: 1;
}

.logo-footer img {
    max-width: 200px;
    flex: 1;
}

.paragrafo-footer {
    color: white;
    font-size: 0.9rem;
  
    line-height: 1.5;
    word-break: break-word;
}

.redes-footer a {
    margin-right: 2em;
    color: white;
    font-size: 1.0em;
}

.coluna-footer {
    color: white;
    font-weight: 500;
}

.coluna-footer h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}


.coluna-footer ul {
    list-style: none;
    padding-left: 0;
}

.coluna-footer ul li {
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
}


.contato-footer p {
    line-height: 1.4;
    font-size: 0.75rem;
}

.linha-footer {
    border-top: 1px solid #555;
    max-width: 80%;
    margin: 0 auto;
   
}
